.info {
    color: var(--text);
    font-size: large;
}
.content {
    bottom: 0em;
}
.p-title {
    font-size: 250px;
}
.s-title {
    color: var(--link-2);
}
.s-title:hover {
    color: var(--link);
}