/*Copyright Styling*/
.copyright {
    text-decoration: none;
    color: darkgray;
}
.copyrighted {
    text-decoration: none;
    color: darkgray;
}
.copyrighted:hover {
    text-decoration: underline;
    color: lightgray;
}
.copyright-sm {
    text-decoration: none;
    color: darkgray;
    font-size: small;
}
.copyright-xs {
    text-decoration: none;
    color: darkgray;
    font-size: xx-small;
}

/*Info Styling*/
.primary-title {
    text-decoration: none;
    color: purple;
}
.secondary-title {
    text-decoration: none;
    color: magenta;
}
.tertiary-title {
    text-decoration: none;
    color: violet;
}
.quaternary-title {
    text-decoration: none;
    color: pink;
}
.info {
    border: 3px;
    border-color: lightgray;
    border-style: outset;
    border-radius: 50px;
    color: rgb(165, 112, 218);
    font-size: large;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: rgba(51, 51, 51, 0.5);
    text-decoration-line: none;
}

/*Page Format Styling*/
.container {
    min-width: 992px!important;
    background-image: url(/assets/images/backgrounds/main.png);
    background-size: cover;
    background-attachment: fixed;
    margin-left: 100px;
    margin-right: 100px;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.text-center {
    text-align: center!important;
}

/*Scroll Bar*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #353232;
}
::-webkit-scrollbar-thumb {
    background: rgb(71, 70, 70);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(134, 134, 134);
}