:root {
    --box-border-dark: hsl(0, 0%, 16%);
    --box-border-light: hsl(0, 0%, 76%);
    --box-bg-dark: hsl(0, 0%, 18%);
    --box-bg-light: hsl(0, 0%, 78%);
    --box-shadow-1-dark: hsla(0, 0%, 0%, 0.25);
    --box-shadow-1-light: hsla(0, 0%, 0%, 0.45);
    --box-shadow-2-dark: hsla(0, 0%, 0%, 0.125);
    --box-shadow-2-light: hsla(0, 0%, 0%, 0.333);
    --img-border-dark: hsl(0, 0%, 65%);
    --img-border-light: hsl(0, 0%, 35%);
    --img-border-hover-dark: hsl(128, 88%, 20%);
    --img-border-hover-light: hsl(128, 76%, 38%);
    --ats-dark: hsl(51, 100%, 50%);
    --ats-light: hsl(34, 100%, 50%);
}
.dark {
    --box-border: var(--box-border-dark);
    --box-bg: var(--box-bg-dark);
    --box-shadow-1: var(--box-shadow-1-dark);
    --box-shadow-2: var(--box-shadow-2-dark);
    --img-border: var(--img-border-dark);
    --img-border-hover: var(--img-border-hover-dark);
    --ats: var(--ats-dark);
}
.light {
    --box-border: var(--box-border-light);
    --box-bg: var(--box-bg-light);
    --box-shadow-1: var(--box-shadow-1-light);
    --box-shadow-2: var(--box-shadow-2-light);
    --img-border: var(--img-border-light);
    --img-border-hover: var(--img-border-hover-light);
    --ats: var(--ats-light);
}

.info {
    color: var(--text);
    font-size: large;
    padding: 10px;
}
.image-links {
    width: 50%;
    height: auto;
    border: 5px solid var(--img-border);
    border-radius: 10em;
}
.image-links:hover {
    border: 5px solid var(--img-border-hover);
}
.ats {
    color: var(--ats);
}

.box-wrap{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:1em;
}
.box{
    margin-right: 0.3em;
    margin-left: 0.3em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background:var(--box-bg);
    width:21em;
    height:auto;
    border:1px solid var(--box-border);
    box-shadow:0 2px 3px 0px var(--box-shadow-1);
    border-radius:20px;
    transition:.2s all;
}
.box-wrap:hover .box{
    filter:blur(3px);
    opacity:.5;
    transform: scale(.98);
    box-shadow:none;
}
.box-wrap:hover .box:hover{
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    box-shadow:0 8px 20px 0px var(--box-shadow-2);
}
.space-bottom {
    bottom: 0em;
}