:root {
    --infos-bg-dark: hsla(0, 0%, 20%, 0.5);
    --infos-bg-light: hsla(0, 0%, 80%, 0.75);
    --infos-bg-border-dark: hsl(210, 14%, 53%);
    --infos-bg-border-light: hsl(210, 4%, 53%);
}
.dark {
    --infos-bg: var(--infos-bg-dark);
    --infos-bg-border: var(--infos-bg-border-dark);
}
.light {
    --infos-bg: var(--infos-bg-light);
    --infos-bg-border: var(--infos-bg-border-light);
}

.info {
    color: var(--text);
    font-size: large;
    padding: 10px;
}
.follow-us {
    width: 35%;
    height: auto;
}
.infos {
    border: 3px;
    border-color: var(--infos-bg-border);
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background-color: var(--infos-bg);
}
.space-bottom {
    bottom: 0em;
}