.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.info {
    color: white;
    font-size: large;
    padding: 10px;
}
.infos {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background-color: rgba(51, 51, 51, 0.5);
}
.versions {
    color: violet;
    font-family: 'Segoe Script';
}
.small-font {
    font-size: medium;
}
.space-bottom {
    padding-bottom: 4em;
}

/*Pixel Random's Styling*/
.landscape {
    width: 25%;
    height: auto;
    border: 3px;
    border-color: gray;
    border-style: double;
    border-radius: 10px;
}
.downloads {
    color: lightgreen;
}
.downloads:hover {
    color: rgb(127, 90, 207);
}
.external-links {
    font-size: larger;
    color: aqua;
}
.external-links:hover {
    color: rgb(127, 90, 207);
}
.external-links-sm {
    font-size: medium;
    color: aqua;
}
.external-links-sm:hover {
    color: rgb(127, 90, 207);
}

.two-toggle {
    border: 3px;
    border-color: gray;
    border-style: groove;
    outline: none;
    background-color: rgba(0, 153, 255, 0);
    cursor: pointer;
    color: white;
    border-radius: 10px;
    font-size: x-large;
    font-family: 'Segoe Script';
}
.two-toggle:hover {
    background-color: #555;
}

.hideshowBtn {
    border: 3px;
    border-color: gray;
    border-style: groove;
    outline: none;
    background-color: rgba(0, 153, 255, 0);
    cursor: pointer;
    border-radius: 10px;
    font-size: large;
}
.hideshowBtn:hover {
    background-color: #555;
}