.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.info {
    color: white;
    font-size: large;
    padding: 10px;
}
.projects {
    margin-right: 0.7em;
    margin-left: 0.7em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    width: 21em;
    height: 36em;
}
.projects img {
    width: 95%;
    height: auto;
    padding: 0.3em;
}
.projects img:hover {
    border: 10px;
    border-color: violet;
    border-style: groove;
    width: 20em;
    height: 36em;
    padding: 0em;
}
.space-bottom {
    padding-bottom: 10em;
}