.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.info {
    color: white;
    font-size: large;
    padding: 10px;
}
.projects {
    width: 21em;
    height: 27em;
}
.projects img {
    width: 95%;
    height: auto;
    margin: 0.3em;
    border:3px solid #282828;
    border-radius: 10px;
}
.box-wrap{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:1em;
}
.box{
    margin-right: 0.3em;
    margin-left: 0.3em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background:#2e2e2e;
    width:21em;
    height:auto;
    border:1px solid #282828;
    box-shadow:0 2px 3px 0px rgba(0,0,0,0.25);
    border-radius:20px;
    transition:.2s all; 
}
.box-wrap:hover .box{
    filter:blur(3px);
    opacity:.5;
    transform: scale(.98);
    box-shadow:none;
}
.box-wrap:hover .box:hover{
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}
.space-bottom {
    padding-bottom: 7.5em;
}