:root {
    --infos-bg-dark: hsla(0, 0%, 20%, 0.5);
    --infos-bg-light: hsla(0, 0%, 80%, 0.75);
    --infos-bg-border-dark: hsl(210, 14%, 53%);
    --infos-bg-border-light: hsl(210, 4%, 53%);

    --team-primary-job-dark: hsl(0, 0%, 50%);
    --team-primary-job-light: hsl(0, 0%, 10%);
    --team-decription-dark: hsl(0, 0%, 63%);
    --team-decription-light: hsl(0, 0%, 23%);
    --team-ats-dark: hsl(0, 0%, 66%);
    --team-ats-light: hsl(0, 0%, 26%);
    --team-faces-border-dark: hsl(203, 92%, 75%);
    --team-faces-border-light: hsl(203, 62%, 55%);
}
.dark {
    --infos-bg: var(--infos-bg-dark);
    --infos-bg-border: var(--infos-bg-border-dark);
    --team-primary-job: var(--team-primary-job-dark);
    --team-decription: var(--team-decription-dark);
    --team-ats: var(--team-ats-dark);
    --team-faces-border: var(--team-faces-border-dark);
}
.light {
    --infos-bg: var(--infos-bg-light);
    --infos-bg-border: var(--infos-bg-border-light);
    --team-primary-job: var(--team-primary-job-light);
    --team-decription: var(--team-decription-light);
    --team-ats: var(--team-ats-light);
    --team-faces-border: var(--team-faces-border-light);
}

.info {
    color: var(--text);
    font-size: large;
    padding: 10px;
}
.infos {
    border: 3px;
    border-color: var(--infos-bg-border);
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background-color: var(--infos-bg);
}
.team-primary-job {
    text-decoration: none;
    color: var(--team-primary-job);
}
.team-decription {
    color: var(--team-decription);
    font-size: medium;
}
.team-ats {
    color: var(--team-ats);
    font-size: small;
}
.team-ats:hover {
    color: var(--link);
    font-size: small;
}
.team-faces {
    width: 25%;
    height: auto;
    border: 3px;
    border-color: var(--team-faces-border);
    border-style: groove;
    border-radius: 15px;
}
.space-bottom {
    bottom: 0em;
}